[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501
exclude =
    .venv,
    venv,
    .git,
    __pycache__,
    build,
    dist,
    config,
    temp,
    .eggs
per-file-ignores =
    __init__.py:F401
